/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------END OF RESET ----------------------*/

body {
	font-family: 'Montserrat', sans-serif;
	color: white
}

h5, h6, ul, li, figure {
	padding: 0px;
	margin: 0px;
}

.place-holder {
	padding-top: 15%;
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	width: 260px;
	height: 160px;
	padding: 20px;
	margin: 15px;
	display: flex;
	align-items: stretch;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	box-shadow: 0 22px 6px -18px rgba(0,0,0,0.3);
	background: linear-gradient(-45deg, #49A09D,#5F2E83);
}

figure div {
	display: inline-flex;
}

figcaption {
	width: 150px;
	padding: 2px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h5 {
	font-size: 18.5px;
	font-weight: bolder;
}

h6 {
	font-size: 16px;
	font-weight: 100;
}

i {
	font-size: 14px;
	font-weight: 100;
}

figure {
	width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button {
	height: 40px;
	width: 100%;
	color: black;
	font-size: 18px;
	border: none;
	background: white;
	border-radius: 50px;
	font-family: inherit;
}

.card-trans {
	-webkit-transition: -webkit-transform .1s ease-in-out;
	-ms-transition: -ms-transform .1s ease-in-out;
	transition: transform .1s ease-in-out;  
}

.card-trans:hover {
	transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
}

